body {
}

a {
}
a:hover {
}

button {
}

button:hover {
}

.choices button {
}

input[type="text"] {
}

ol {
}

li {
}

li:nth-child(odd) {
}

.wrapper {
}
.hide {
}
.start {
}
.scores {
}
.feedback {
}
.timer {
}
