body {
  font-family: Georgia;
  font-size: 22px;
}

a {
  color: #023e8a;
  transition: color 0.1s;
}
a:hover {
  color: #0077B6;
}

button {
    display: inline-block;
    margin: 5 px;
    cursor: pointer;
    font-size: 20px;
    background-color: #03045e;
    border-radius: 5px;
    padding 2px 10px;
    color: whitesmoke;
    border: 0;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #023E8A;
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 20px;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: whitesmoke;
}

.wrapper {
}
.hide {
}
.start {
}
.scores {
}
.feedback {
}
.timer {
}
